*{
    margin:0;
   }
   
   body {
    background-color:LIGHTSTEELBLUE;
    max-width: 100%;
    overflow-x: hidden;
}
   header {
    background-color:lightblue;
    width:100%;
    height: 100px;
    text-align: center;
   }
  .tabla1, .tabla2, .tabla4 {
    width: 90%;
    max-width: 900px;
    margin: 1rem auto;
    text-align: center;
}
.tabla3{
    margin:auto;
    left: 1150px;
    width:25%;
    top:45px;
    position:absolute;
     }
   .img1{
       position: absolute;
       width:50px;
       top:0px;
       left:0px;
  }
header .img2, header .img3, header .img4, header .img5, header .img6 {
    position: relative;  
    width: 70px;      
    height: auto;       
}
header .img2 {
    left: -20px; 
}

header .img3 {
    left: -45px; 
}

header .img4 {
    left: -77px;  
}

header .img5 {
    left: -45px;  
}

header .img6 {
    left: -5px;  
}

.img7{
       position: absolute;
       width:350px;
    top:300px;
       right:30px;
   }
   .img8{
    position: absolute;
    width:72px;
    top:1200px;
}
.img9{
    position: absolute;
    width:70px;
    top:1200px;
    left:85px;
}
.img10{
    position: absolute;
    width:72px;
    top:1200px;
    left:170px;
}
.img11{
    position: absolute;
    width:72px;
    top:1200px;
    left:255px;
}
.img12{
    position: absolute;
    width:72px;
    top:1200px;
    left:340px;
}
.img13{
    position: absolute;
    width:600px;
    border:3px;
    height:436;
}
.img14{
    position: absolute;
    width:300px;
    top:500px;
    left:600px;
}
.img15{
    position: absolute;
    width:900px;
    top:420px;
    left:310px;
}
.formulario {
        width: 90%;
        max-width: 350px;
        margin: 2rem auto;
            background-color:thistle;
    }
  h1 {
        font-size: 2rem;
           text-align: center;
    }
h2{
     font-family: cursive;
    text-align: center;
}
.p2{
    font-size:18px;
    background-color:lavender;
}
@media (max-width: 768px) {
   .linea1{
       Color:indianred;
   }
   .linea2{
       Color:indianred;
   }
   .linea3{
       Color:indianred;
   }
   .linea4{
       Color:indianred;
   }
   .linea5{
       Color:indianred;
   }
}
   footer {
   background-color:cadetblue;
   position: sticky;
   text-align: center;
   width:100%;
   bottom:0;
   height:220px;
   }

